extends layout
block content
  h1= title

  form(id='SpellForm', action="/resource/spells", method="POST")
    div.form-group
      label.spellAttr(for='name') Name
      input#name(type='text', name='name')

    div.form-group
      label.spellAttr(for='level') Level
      input#level(type='number', name='level')

    div.form-group
      label.spellAttr(for='school') School
      input#school(type='text', name='school')

    div.form-group
      label.spellAttr(for='description') Description
      input#description(type='text', name='description')

    input(type="submit")

  script.
    document.forms['SpellForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      fetch(event.target.action, {
        method: 'POST',
        body: new URLSearchParams(new FormData(event.target))
      }).then((resp) => {
        return resp.json();
      }).then((body) => {
        alert("Save succeeded");
      }).catch((error) => {
        alert("Save failed " + error);
      });
    });